<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [markers]="chartOptions.markers"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [stroke]="chartOptions.stroke"
    [title]="chartOptions.title"
    [colors]="chartOptions.colors"
    [fill]="chartOptions.fill"
    [forecastDataPoints]="chartOptions.forecastDataPoints"
    [legend]="chartOptions.legend"
  ></apx-chart>
</div>
